
@{
    ViewBag.Title = "Criterios filtro";
}

<h2>Criterios de filtro</h2>
<p>Seleccione el filtro por el cual buscar las viviendas:</p>
<li>@Html.ActionLink("Dormitorios", "FDormitorio", "ViviendaModel")</li><br/>
<li>@Html.ActionLink("Precio", "FPrecio", "ViviendaModel")</li><br />
<li>@Html.ActionLink("Barrio", "FBarrio", "ViviendaModel")</li><br />
<li>@Html.ActionLink("Estado", "FEstado", "ViviendaModel")</li><br />
<li>@Html.ActionLink("Tipo", "FTipo", "ViviendaModel")</li><br />


