@model IEnumerable<AdjudicacionVivienda.Models.ViviendaModel>

@{
    ViewBag.Title = "Filtrar viviendas estado";
}

<h2>Filtrar viviendas por estado</h2>
@using (Html.BeginForm())
{
    <p>
        Estado de la vivienda a buscar: @Html.TextBox("estado")<br />
        <input type="submit" value="Filtrar" />
    </p>
}
<p>@ViewBag.Mensaje</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumPuerta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomBarrio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantBanios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantDorm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metraje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioCuota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadCuotas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contribucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPuerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barrio.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantBanios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantDorm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metraje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCuotas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contribucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @if (Session["Tipo"].ToString() == "Postulante")
                {
                    <a href="http://localhost:17951/SorteoModel/InscripcionSorteo?idViv=@item.ID">Inscribirme Sorteo</a>
                }
            </td>
        </tr>
    }

</table>
